flows_pitherm.json
[
    {
        "id": "17a728c6.565827",
        "type": "tab",
        "label": "Thermostat",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4068d94.a2c6e",
        "type": "tab",
        "label": "Light Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bb1d781.d12288",
        "type": "tab",
        "label": "Camera",
        "disabled": false,
        "info": ""
    },
    {
        "id": "559df1d7.d3a6f",
        "type": "tab",
        "label": "Screen Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2089cd.9333b634",
        "type": "tab",
        "label": "Auto Update",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62ba2bde.f2d8e4",
        "type": "tab",
        "label": "Settings Menu",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c908fc37.9091",
        "type": "ui_tab",
        "name": "Smart Thermostat",
        "icon": "fa-thermometer-full",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3abbb9e5.c15de6",
        "type": "ui_group",
        "name": "MODE",
        "tab": "c908fc37.9091",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "feddcd99.b882b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#808080",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#808080",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#808080",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a6a6a6",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#808080",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "PiTherm",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 40,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b98f2455.fa5658",
        "type": "ui_group",
        "name": "LIGHTS",
        "tab": "c908fc37.9091",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "76323985.87bec8",
        "type": "mqtt-broker",
        "name": "Pihole Mosquitto",
        "broker": "192.168.0.200",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f2b892c2.716fe",
        "type": "ui_group",
        "name": "Current Temperature",
        "tab": "c908fc37.9091",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7c68db6d.8a50b4",
        "type": "ui_group",
        "name": "Basement West",
        "tab": "16bd378a.15e1c8",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "16bd378a.15e1c8",
        "type": "ui_tab",
        "name": "Cameras",
        "icon": "fa-camera",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4fa4cd44.275294",
        "type": "ui_group",
        "name": "BreezeWay",
        "tab": "16bd378a.15e1c8",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "4ffb5855.8f02f8",
        "type": "ui_group",
        "name": "Basement East",
        "tab": "16bd378a.15e1c8",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "8eef0cc0.5b1bf",
        "type": "ui_tab",
        "name": "Schedulers",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "25c1888c.8b6c08",
        "type": "ui_group",
        "name": "Garage",
        "tab": "16bd378a.15e1c8",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "6a4d510d.5de65",
        "type": "ui_group",
        "name": "Wifi Network",
        "tab": "56715436.c2591c",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "56715436.c2591c",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4811140.0edca",
        "type": "ui_link",
        "name": "Garage Pi",
        "link": "http://garagepi.seeare:1880/ui",
        "icon": "directions_car",
        "target": "iframe",
        "order": 4
    },
    {
        "id": "55f8b52.8a0a24c",
        "type": "ui_button",
        "z": "17a728c6.565827",
        "name": "",
        "group": "3abbb9e5.c15de6",
        "order": 1,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "<font size =24>HEAT",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.heatBackground}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "3995d086.8aeee"
            ]
        ]
    },
    {
        "id": "e8d96aa7.761d78",
        "type": "ui_button",
        "z": "17a728c6.565827",
        "name": "",
        "group": "3abbb9e5.c15de6",
        "order": 2,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "<font size =24>FAN",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.fanBackground}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "75a704be.5f0e6c"
            ]
        ]
    },
    {
        "id": "b4df74e9.373458",
        "type": "ui_button",
        "z": "17a728c6.565827",
        "name": "",
        "group": "3abbb9e5.c15de6",
        "order": 3,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "<font size =24>A/C",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.acBackground}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "6beaf81.3563908"
            ]
        ]
    },
    {
        "id": "f3245e48.fe474",
        "type": "ui_button",
        "z": "17a728c6.565827",
        "name": "",
        "group": "3abbb9e5.c15de6",
        "order": 4,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "<font size =24>OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.offBackground}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "a86c4aab.a77c98"
            ]
        ]
    },
    {
        "id": "3995d086.8aeee",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Set Heat Mode",
        "rules": [
            {
                "t": "set",
                "p": "heatMode",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "heatBackground",
                "pt": "msg",
                "to": "Red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fanMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "fanBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "acMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "acBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "offMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "offBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "b788967e.52c3b8",
                "55f8b52.8a0a24c",
                "e8d96aa7.761d78",
                "b4df74e9.373458",
                "f3245e48.fe474"
            ]
        ]
    },
    {
        "id": "b788967e.52c3b8",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 560,
        "wires": [
            [
                "c99e770.89ecf88",
                "95d4da55.73b588",
                "9feace82.732",
                "9978b542.47f298",
                "96a910cf.1a5b7"
            ]
        ]
    },
    {
        "id": "c99e770.89ecf88",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "95d4da55.73b588",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "heatMode True",
        "property": "heatMode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "e51b724a.f366",
                "aec3ea3e.b47ba8"
            ]
        ]
    },
    {
        "id": "e51b724a.f366",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "f33d7507.d02f78"
            ]
        ]
    },
    {
        "id": "aec3ea3e.b47ba8",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1100,
        "wires": [
            [
                "eb8432c8.00d8d",
                "3024cd88.c554b2",
                "515c2594.5d417c"
            ]
        ]
    },
    {
        "id": "f33d7507.d02f78",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "282164dc.6b008c"
            ]
        ]
    },
    {
        "id": "9feace82.732",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "fanMode True",
        "property": "fanMode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 1180,
        "wires": [
            [
                "a3a493e9.d2f8f",
                "f39f839f.afe27"
            ]
        ]
    },
    {
        "id": "a3a493e9.d2f8f",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "da903bb7.8af978"
            ]
        ]
    },
    {
        "id": "f39f839f.afe27",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1220,
        "wires": [
            [
                "282164dc.6b008c",
                "3024cd88.c554b2",
                "2b7da519.7e6a0a"
            ]
        ]
    },
    {
        "id": "da903bb7.8af978",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "eb8432c8.00d8d"
            ]
        ]
    },
    {
        "id": "9978b542.47f298",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "acMode True",
        "property": "acMode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "f71bd2b9.182d7",
                "2958868f.4e546a"
            ]
        ]
    },
    {
        "id": "f71bd2b9.182d7",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "c17b5e3e.af4ee"
            ]
        ]
    },
    {
        "id": "2958868f.4e546a",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1360,
        "wires": [
            [
                "282164dc.6b008c",
                "eb8432c8.00d8d",
                "74846928.293688"
            ]
        ]
    },
    {
        "id": "c17b5e3e.af4ee",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 1320,
        "wires": [
            [
                "3024cd88.c554b2"
            ]
        ]
    },
    {
        "id": "96a910cf.1a5b7",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "offMode True",
        "property": "offMode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 1440,
        "wires": [
            [
                "96a29230.5aa2c"
            ]
        ]
    },
    {
        "id": "96a29230.5aa2c",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "37857f6e.7214d"
            ]
        ]
    },
    {
        "id": "37857f6e.7214d",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "282164dc.6b008c",
                "eb8432c8.00d8d",
                "3024cd88.c554b2",
                "74846928.293688",
                "2b7da519.7e6a0a",
                "515c2594.5d417c"
            ]
        ]
    },
    {
        "id": "75a704be.5f0e6c",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Set Fan Mode",
        "rules": [
            {
                "t": "set",
                "p": "heatMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "heatBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fanMode",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "fanBackground",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "acMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "acBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "offMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "offBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 560,
        "wires": [
            [
                "b788967e.52c3b8",
                "55f8b52.8a0a24c",
                "e8d96aa7.761d78",
                "b4df74e9.373458",
                "f3245e48.fe474"
            ]
        ]
    },
    {
        "id": "6beaf81.3563908",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Set A/C Mode",
        "rules": [
            {
                "t": "set",
                "p": "heatMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "heatBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fanMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "fanBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "acMode",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "acBackground",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "offMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "offBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "b788967e.52c3b8",
                "55f8b52.8a0a24c",
                "e8d96aa7.761d78",
                "b4df74e9.373458",
                "f3245e48.fe474"
            ]
        ]
    },
    {
        "id": "a86c4aab.a77c98",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Set Off Mode",
        "rules": [
            {
                "t": "set",
                "p": "heatMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "heatBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fanMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "fanBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "acMode",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "acBackground",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "offMode",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "offBackground",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "b788967e.52c3b8",
                "f3245e48.fe474",
                "b4df74e9.373458",
                "e8d96aa7.761d78",
                "55f8b52.8a0a24c"
            ]
        ]
    },
    {
        "id": "47ec3a71.432624",
        "type": "ui_button",
        "z": "17a728c6.565827",
        "name": "",
        "group": "3abbb9e5.c15de6",
        "order": 5,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "<font size =24>-",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "f028eec1.efc37"
            ]
        ]
    },
    {
        "id": "2493a108.f4ff0e",
        "type": "ui_button",
        "z": "17a728c6.565827",
        "name": "",
        "group": "3abbb9e5.c15de6",
        "order": 6,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "<font size =24>+",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "5d27e71b.864748"
            ]
        ]
    },
    {
        "id": "863962c0.2d3ca",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "Init Setpoint on Boot 70",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "72",
        "payloadType": "num",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "21525d54.3951c2",
                "5c5c51d6.a13e4",
                "7f9a73a3.f5a04c"
            ]
        ]
    },
    {
        "id": "7f9a73a3.f5a04c",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "setPoint",
        "rules": [
            {
                "t": "set",
                "p": "setPoint",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SetPoint",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 60,
        "wires": [
            [
                "4292c03b.15d26"
            ]
        ]
    },
    {
        "id": "4292c03b.15d26",
        "type": "ui_text",
        "z": "17a728c6.565827",
        "group": "3abbb9e5.c15de6",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Set",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1290,
        "y": 60,
        "wires": []
    },
    {
        "id": "21525d54.3951c2",
        "type": "ui_slider",
        "z": "17a728c6.565827",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "3abbb9e5.c15de6",
        "order": 8,
        "width": "2",
        "height": "9",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "60",
        "max": "80",
        "step": 1,
        "x": 890,
        "y": 100,
        "wires": [
            [
                "7f9a73a3.f5a04c"
            ]
        ]
    },
    {
        "id": "5c5c51d6.a13e4",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "setPoint/Range",
        "rules": [
            {
                "t": "set",
                "p": "setPoint",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "rangeLow",
                "pt": "global",
                "to": "0.5",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "rangeHigh",
                "pt": "global",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "f028eec1.efc37",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "Decrease Setpoint",
        "func": "var setPoint = global.get(\"setPoint\");\n\nif(setPoint > 60){\n    msg.payload = setPoint - 1;\n}\nelse{\n    msg.payload = 60\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "21525d54.3951c2"
            ]
        ]
    },
    {
        "id": "5d27e71b.864748",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "Increase Setpoint",
        "func": "var setPoint = global.get(\"setPoint\");\n\nif(setPoint < 80){\n    msg.payload = setPoint + 1;\n}\nelse{\n    msg.payload = 80\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "21525d54.3951c2"
            ]
        ]
    },
    {
        "id": "3ffb79c7.ba8966",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Livingroom Fan - HS200(US)",
        "device": "192.168.0.47",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "58a89f94.798c8"
            ]
        ]
    },
    {
        "id": "5ede954b.bc704c",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>LR Fan",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 1,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "toys",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "toys",
        "offcolor": "grey",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "3ffb79c7.ba8966",
                "57f387fc.c674f8"
            ]
        ]
    },
    {
        "id": "506a7a16.2ecbc4",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>Hallway Light",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-lightbulb-o ",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-lightbulb-o ",
        "offcolor": "grey",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "9317209b.4f35d",
                "e509780b.15b738"
            ]
        ]
    },
    {
        "id": "9317209b.4f35d",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Hallway Light - HS200(US)",
        "device": "192.168.0.45",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "f1247a8d.5661f8"
            ]
        ]
    },
    {
        "id": "e4715209.4a2c8",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>Kitchen Light",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "kitchen",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "kitchen",
        "offcolor": "grey",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "44a94502.e9283c",
                "82973e81.4bcf3"
            ]
        ]
    },
    {
        "id": "44a94502.e9283c",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Kitchen Light - HS200(US)",
        "device": "192.168.0.46",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "b433e675.d846e8"
            ]
        ]
    },
    {
        "id": "39b1e55b.1d2f2a",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>LR Lights",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-lightbulb-o ",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-lightbulb-o ",
        "offcolor": "grey",
        "x": 1070,
        "y": 1720,
        "wires": [
            [
                "e8c2f7e2.346558",
                "a78694c1.ab78d8"
            ]
        ]
    },
    {
        "id": "e8c2f7e2.346558",
        "type": "mqtt out",
        "z": "d4068d94.a2c6e",
        "name": "",
        "topic": "Home/Livingroom/LRLights",
        "qos": "",
        "retain": "",
        "broker": "76323985.87bec8",
        "x": 1360,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a7b02db.2734cd",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>BR Fan",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 5,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-bed",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-bed",
        "offcolor": "grey",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "5691a328.b3dbdc",
                "3219a260.2e8e7e"
            ]
        ]
    },
    {
        "id": "5691a328.b3dbdc",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Bedroom Fan - HS200(US)",
        "device": "192.168.0.42",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "9a86e762.918278"
            ]
        ]
    },
    {
        "id": "8f1931ef.84163",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>BR2 Fan",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 6,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "star",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "star_border",
        "offcolor": "grey",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "bad0c888.197118",
                "1ece21d.40e43de"
            ]
        ]
    },
    {
        "id": "bad0c888.197118",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Bedroom 2 Fan - HS200(US)",
        "device": "192.168.0.41",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 680,
        "wires": [
            [
                "c41591d0.7a7a4"
            ]
        ]
    },
    {
        "id": "25367fd2.b9c8a",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>Bath Fan",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 7,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-bath",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-bath",
        "offcolor": "grey",
        "x": 230,
        "y": 820,
        "wires": [
            [
                "7c979eab.7828d",
                "a977d003.7d33"
            ]
        ]
    },
    {
        "id": "7c979eab.7828d",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Bathroom Fan - HS200(US)",
        "device": "192.168.0.40",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 820,
        "wires": [
            [
                "410b6056.06c22"
            ]
        ]
    },
    {
        "id": "282ff62b.38cfda",
        "type": "ui_gauge",
        "z": "17a728c6.565827",
        "name": "",
        "group": "f2b892c2.716fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "Degrees",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0056f5",
            "#00e61b",
            "#ca3838"
        ],
        "seg1": "66",
        "seg2": "76",
        "x": 1170,
        "y": 2640,
        "wires": []
    },
    {
        "id": "80148cde.01018",
        "type": "ui_chart",
        "z": "17a728c6.565827",
        "name": "",
        "group": "f2b892c2.716fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#6da6d0",
            "#42b319",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1290,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9221e062.1e4eb",
        "type": "mqtt in",
        "z": "17a728c6.565827",
        "name": "",
        "topic": "Home/Outside_Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "76323985.87bec8",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "2f35446f.aa6cbc"
            ]
        ]
    },
    {
        "id": "975fc1a8.1758a",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Outside Temp",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "80148cde.01018",
                "1fdbed8e.b28012",
                "10b9f727.b14099"
            ]
        ]
    },
    {
        "id": "faf89e49.5908d",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>TV",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 8,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-tv",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-tv",
        "offcolor": "grey",
        "x": 630,
        "y": 1900,
        "wires": [
            [
                "e4db8ee.bf44b7",
                "e4b77fa0.f698c"
            ]
        ]
    },
    {
        "id": "e4db8ee.bf44b7",
        "type": "mqtt out",
        "z": "d4068d94.a2c6e",
        "name": "",
        "topic": "Home/Livingroom/TV",
        "qos": "",
        "retain": "",
        "broker": "76323985.87bec8",
        "x": 880,
        "y": 1900,
        "wires": []
    },
    {
        "id": "903820d0.0bbef",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>TV Stand",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 9,
        "width": "3",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "whatshot",
        "oncolor": "blue",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "whatshot",
        "offcolor": "grey",
        "x": 210,
        "y": 2040,
        "wires": [
            [
                "bbf05d68.4007f"
            ]
        ]
    },
    {
        "id": "bbf05d68.4007f",
        "type": "mqtt out",
        "z": "d4068d94.a2c6e",
        "name": "",
        "topic": "Home/Livingroom/TV_Stand",
        "qos": "",
        "retain": "",
        "broker": "76323985.87bec8",
        "x": 700,
        "y": 2040,
        "wires": []
    },
    {
        "id": "282164dc.6b008c",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Heat Enable",
        "rules": [
            {
                "t": "set",
                "p": "heatEnable",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "eb8432c8.00d8d",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Fan Enable",
        "rules": [
            {
                "t": "set",
                "p": "fanEnable",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "3024cd88.c554b2",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "AC Enable",
        "rules": [
            {
                "t": "set",
                "p": "acEnable",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "e1330d57.d131c",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 1640,
        "wires": [
            [
                "742866ba.817ba8",
                "f89b5cde.0c50b",
                "7b769a0c.7f6584"
            ]
        ]
    },
    {
        "id": "586720b6.1f9e6",
        "type": "rpi-gpio out",
        "z": "17a728c6.565827",
        "name": "HEAT OUT",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1490,
        "y": 1640,
        "wires": []
    },
    {
        "id": "284e4263.5e83ce",
        "type": "rpi-gpio out",
        "z": "17a728c6.565827",
        "name": "FAN OUT",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1160,
        "y": 2220,
        "wires": []
    },
    {
        "id": "fc878b19.611c18",
        "type": "rpi-gpio out",
        "z": "17a728c6.565827",
        "name": "A/C OUT",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1500,
        "y": 1940,
        "wires": []
    },
    {
        "id": "742866ba.817ba8",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "Fan Enable T",
        "property": "fanEnable",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 2220,
        "wires": [
            [
                "284e4263.5e83ce"
            ]
        ]
    },
    {
        "id": "7463f0db.80254",
        "type": "link in",
        "z": "17a728c6.565827",
        "name": "",
        "links": [
            "2a6a6c7e.39cfd4",
            "515c2594.5d417c",
            "2b7da519.7e6a0a",
            "74846928.293688",
            "c1a7afb3.dd825"
        ],
        "x": 1335,
        "y": 1600,
        "wires": [
            [
                "586720b6.1f9e6",
                "d1b1adff.e2c77",
                "2b1e0d48.f01af2"
            ]
        ]
    },
    {
        "id": "8a3b7803.16a0e8",
        "type": "link in",
        "z": "17a728c6.565827",
        "name": "",
        "links": [
            "2a6a6c7e.39cfd4",
            "515c2594.5d417c",
            "2b7da519.7e6a0a",
            "74846928.293688",
            "c1a7afb3.dd825"
        ],
        "x": 1035,
        "y": 2160,
        "wires": [
            [
                "284e4263.5e83ce"
            ]
        ]
    },
    {
        "id": "716b11a7.11728",
        "type": "link in",
        "z": "17a728c6.565827",
        "name": "",
        "links": [
            "2a6a6c7e.39cfd4",
            "515c2594.5d417c",
            "2b7da519.7e6a0a",
            "74846928.293688",
            "c1a7afb3.dd825"
        ],
        "x": 1315,
        "y": 2020,
        "wires": [
            [
                "fc878b19.611c18",
                "90de10d4.aa51f",
                "5dea00c5.72eb3",
                "a5b9f6f.38b1608"
            ]
        ]
    },
    {
        "id": "515c2594.5d417c",
        "type": "link out",
        "z": "17a728c6.565827",
        "name": "Heat Off",
        "links": [
            "716b11a7.11728",
            "7463f0db.80254",
            "8a3b7803.16a0e8"
        ],
        "x": 855,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2b7da519.7e6a0a",
        "type": "link out",
        "z": "17a728c6.565827",
        "name": "Fan Off",
        "links": [
            "716b11a7.11728",
            "7463f0db.80254",
            "8a3b7803.16a0e8"
        ],
        "x": 855,
        "y": 1220,
        "wires": []
    },
    {
        "id": "74846928.293688",
        "type": "link out",
        "z": "17a728c6.565827",
        "name": "AC Off",
        "links": [
            "716b11a7.11728",
            "7463f0db.80254",
            "8a3b7803.16a0e8"
        ],
        "x": 855,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ab85c9cf.ba4d08",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Actual Temp",
        "rules": [
            {
                "t": "set",
                "p": "actualTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Inside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 2400,
        "wires": [
            [
                "f05f5387.ae944",
                "fb265512.fb83b8",
                "5f146b9.0954394",
                "3eee3d3a.179fe2"
            ]
        ]
    },
    {
        "id": "487fd3a1.fb934c",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "Range",
        "func": "var actual = global.get('actualTemp');\nvar setPoint = global.get('setPoint');\nvar rangeLow = global.get('rangeLow');\nvar rangeHigh = global.get('rangeHigh');\n\nvar setPointHigh = setPoint + rangeHigh;\nvar setPointLow = setPoint - rangeLow;\n\n\n\nif(actual < setPointLow){\n    msg.payload = true;\n}\nelse if(actual > setPointHigh){\n    msg.payload = false;\n}\n\nif(msg.payload === true || msg.payload === false){\n   return msg; \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 1640,
        "wires": [
            [
                "586720b6.1f9e6",
                "d1b1adff.e2c77",
                "9456f5f.928c508",
                "2b1e0d48.f01af2",
                "37c0732e.43a9fc"
            ]
        ]
    },
    {
        "id": "d1b1adff.e2c77",
        "type": "ui_text",
        "z": "17a728c6.565827",
        "group": "3abbb9e5.c15de6",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1470,
        "y": 1700,
        "wires": []
    },
    {
        "id": "90de10d4.aa51f",
        "type": "ui_text",
        "z": "17a728c6.565827",
        "group": "3abbb9e5.c15de6",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1490,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f05f5387.ae944",
        "type": "link out",
        "z": "17a728c6.565827",
        "name": "Temperature",
        "links": [
            "ddc47024.d88f8"
        ],
        "x": 1335,
        "y": 2340,
        "wires": []
    },
    {
        "id": "ddc47024.d88f8",
        "type": "link in",
        "z": "17a728c6.565827",
        "name": "",
        "links": [
            "f05f5387.ae944"
        ],
        "x": 1045,
        "y": 180,
        "wires": [
            [
                "80148cde.01018"
            ]
        ]
    },
    {
        "id": "62662072.fd6d4",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "AC Enable T",
        "property": "acEnable",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1940,
        "wires": [
            [
                "75719cff.d644f4"
            ],
            []
        ]
    },
    {
        "id": "7b6951.fb8a26b",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "Heat Enable T",
        "property": "heatEnable",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 1640,
        "wires": [
            [
                "487fd3a1.fb934c"
            ],
            [
                "fb0e101b.4649d"
            ]
        ]
    },
    {
        "id": "9456f5f.928c508",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1760,
        "wires": [
            [
                "d8cca6c.4bc0258"
            ],
            [
                "d695bb4e.d5f8f8"
            ]
        ]
    },
    {
        "id": "31651f53.70eda",
        "type": "comment",
        "z": "17a728c6.565827",
        "name": "FailSafe",
        "info": "",
        "x": 890,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d8cca6c.4bc0258",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1110,
        "y": 1720,
        "wires": [
            [
                "7c4f0e81.d13c8"
            ]
        ]
    },
    {
        "id": "7c4f0e81.d13c8",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Heat Enable",
        "rules": [
            {
                "t": "set",
                "p": "heatEnable",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1720,
        "wires": [
            [
                "586720b6.1f9e6",
                "d1b1adff.e2c77",
                "8e0578d8.28a3f8",
                "2b1e0d48.f01af2"
            ]
        ]
    },
    {
        "id": "d695bb4e.d5f8f8",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Rest",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1780,
        "wires": [
            [
                "d8cca6c.4bc0258"
            ]
        ]
    },
    {
        "id": "8e0578d8.28a3f8",
        "type": "ui_toast",
        "z": "17a728c6.565827",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "FailSafe Timing Error",
        "name": "FailSafe Error Notification",
        "x": 1730,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "cbae2904.2224b8",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "80148cde.01018"
            ]
        ]
    },
    {
        "id": "2f35446f.aa6cbc",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 320,
        "wires": [
            [
                "975fc1a8.1758a",
                "17fc7552.fdbcab"
            ]
        ]
    },
    {
        "id": "764d48af.8838b8",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>Garage",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 10,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "directions_car",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "directions_car",
        "offcolor": "grey",
        "x": 220,
        "y": 1100,
        "wires": [
            [
                "9bd3e1ec.d2266",
                "87981925.f429a8"
            ]
        ]
    },
    {
        "id": "85e77b6e.33fb48",
        "type": "inject",
        "z": "d4068d94.a2c6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "getQuickInfo",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "76de2608.8c0168"
            ]
        ]
    },
    {
        "id": "58a89f94.798c8",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "57d5bda0.1af1a4"
            ]
        ]
    },
    {
        "id": "57d5bda0.1af1a4",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "5ede954b.bc704c"
            ]
        ]
    },
    {
        "id": "ad4380b7.b485c",
        "type": "mqtt in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "topic": "Home/Livingroom/LRLeft_State",
        "qos": "2",
        "datatype": "auto",
        "broker": "76323985.87bec8",
        "x": 230,
        "y": 1700,
        "wires": [
            [
                "9556bee2.0bc15"
            ]
        ]
    },
    {
        "id": "c8e8fbcd.620818",
        "type": "mqtt in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "topic": "Home/Livingroom/LRRight_State",
        "qos": "2",
        "datatype": "auto",
        "broker": "76323985.87bec8",
        "x": 230,
        "y": 1760,
        "wires": [
            [
                "6bafeee1.17346"
            ]
        ]
    },
    {
        "id": "9556bee2.0bc15",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "T/F",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "NaN",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1700,
        "wires": [
            [
                "6e8cbcf9.463184"
            ]
        ]
    },
    {
        "id": "6bafeee1.17346",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "T/F",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "NaN",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1760,
        "wires": [
            [
                "7c1c8783.23ca68"
            ]
        ]
    },
    {
        "id": "6e8cbcf9.463184",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Set Flow Var",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "LRLeft_State",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1700,
        "wires": [
            [
                "629241f9.3045a"
            ]
        ]
    },
    {
        "id": "7c1c8783.23ca68",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Set Flow Var",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "LRRight_State",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1760,
        "wires": [
            [
                "629241f9.3045a"
            ]
        ]
    },
    {
        "id": "629241f9.3045a",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Or Gate",
        "func": "var left = flow.get('LRLeft_State');\nvar right = flow.get('LRRight_State');\n\nif(left === true || right === true){\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 1720,
        "wires": [
            [
                "39b1e55b.1d2f2a"
            ]
        ]
    },
    {
        "id": "f1247a8d.5661f8",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "bbde4793.84b988"
            ]
        ]
    },
    {
        "id": "bbde4793.84b988",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "506a7a16.2ecbc4"
            ]
        ]
    },
    {
        "id": "76de2608.8c0168",
        "type": "link out",
        "z": "d4068d94.a2c6e",
        "name": "Get Info",
        "links": [
            "80bf0d93.ccd45",
            "26f676dd.19ceda",
            "1479eef0.f8a6d1",
            "a9ac03b7.a74df",
            "197fa5ca.88ccea",
            "23acc081.6a0e7",
            "b06e2363.75fcd",
            "b1d6720a.5c4e3",
            "7f95eab.f7c9914"
        ],
        "x": 295,
        "y": 40,
        "wires": []
    },
    {
        "id": "80bf0d93.ccd45",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 295,
        "y": 80,
        "wires": [
            [
                "3ffb79c7.ba8966"
            ]
        ]
    },
    {
        "id": "26f676dd.19ceda",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 220,
        "wires": [
            [
                "9317209b.4f35d"
            ]
        ]
    },
    {
        "id": "1479eef0.f8a6d1",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 360,
        "wires": [
            [
                "44a94502.e9283c"
            ]
        ]
    },
    {
        "id": "b433e675.d846e8",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "b3782a26.b16d28"
            ]
        ]
    },
    {
        "id": "b3782a26.b16d28",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "e4715209.4a2c8"
            ]
        ]
    },
    {
        "id": "a9ac03b7.a74df",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 500,
        "wires": [
            [
                "5691a328.b3dbdc"
            ]
        ]
    },
    {
        "id": "9a86e762.918278",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "416c06f.74634f8"
            ]
        ]
    },
    {
        "id": "416c06f.74634f8",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 540,
        "wires": [
            [
                "a7b02db.2734cd"
            ]
        ]
    },
    {
        "id": "197fa5ca.88ccea",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 640,
        "wires": [
            [
                "bad0c888.197118"
            ]
        ]
    },
    {
        "id": "c41591d0.7a7a4",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "eaee6e6f.1d7b7"
            ]
        ]
    },
    {
        "id": "eaee6e6f.1d7b7",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 680,
        "wires": [
            [
                "8f1931ef.84163"
            ]
        ]
    },
    {
        "id": "23acc081.6a0e7",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 780,
        "wires": [
            [
                "7c979eab.7828d"
            ]
        ]
    },
    {
        "id": "410b6056.06c22",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 820,
        "wires": [
            [
                "ca49e352.129ba"
            ]
        ]
    },
    {
        "id": "ca49e352.129ba",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 820,
        "wires": [
            [
                "25367fd2.b9c8a"
            ]
        ]
    },
    {
        "id": "9bd3e1ec.d2266",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Garage lights - HS200(US)",
        "device": "192.168.0.44",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "b7c8d804.fc7238"
            ]
        ]
    },
    {
        "id": "b06e2363.75fcd",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 1060,
        "wires": [
            [
                "9bd3e1ec.d2266"
            ]
        ]
    },
    {
        "id": "b7c8d804.fc7238",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "900ded2f.c61d7"
            ]
        ]
    },
    {
        "id": "900ded2f.c61d7",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "garageLightOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1100,
        "wires": [
            [
                "764d48af.8838b8",
                "6b6ecb24.e4f6c4"
            ]
        ]
    },
    {
        "id": "57f387fc.c674f8",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "5ede954b.bc704c"
            ]
        ]
    },
    {
        "id": "e509780b.15b738",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "506a7a16.2ecbc4"
            ]
        ]
    },
    {
        "id": "82973e81.4bcf3",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "e4715209.4a2c8"
            ]
        ]
    },
    {
        "id": "3219a260.2e8e7e",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "a7b02db.2734cd"
            ]
        ]
    },
    {
        "id": "1ece21d.40e43de",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "8f1931ef.84163"
            ]
        ]
    },
    {
        "id": "a977d003.7d33",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 880,
        "wires": [
            [
                "25367fd2.b9c8a"
            ]
        ]
    },
    {
        "id": "87981925.f429a8",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 1160,
        "wires": [
            [
                "764d48af.8838b8"
            ]
        ]
    },
    {
        "id": "a78694c1.ab78d8",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 1780,
        "wires": [
            [
                "39b1e55b.1d2f2a"
            ]
        ]
    },
    {
        "id": "873f71e0.69ff1",
        "type": "mqtt in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "topic": "Home/Livingroom/TV_State",
        "qos": "2",
        "datatype": "auto",
        "broker": "76323985.87bec8",
        "x": 220,
        "y": 1900,
        "wires": [
            [
                "77053623.70f938"
            ]
        ]
    },
    {
        "id": "77053623.70f938",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "T/F",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1900,
        "wires": [
            [
                "faf89e49.5908d"
            ]
        ]
    },
    {
        "id": "e4b77fa0.f698c",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 1940,
        "wires": [
            [
                "faf89e49.5908d"
            ]
        ]
    },
    {
        "id": "2b1e0d48.f01af2",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qHeat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1740,
        "wires": [
            [
                "304f0a97.483d46"
            ]
        ]
    },
    {
        "id": "fb0e101b.4649d",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "qHeat F",
        "property": "qHeat",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 1800,
        "wires": [
            [
                "f82c951.1d8be68"
            ]
        ]
    },
    {
        "id": "5dea00c5.72eb3",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qAC",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 1900,
        "wires": [
            [
                "e8a92fc7.9fd3a"
            ]
        ]
    },
    {
        "id": "f82c951.1d8be68",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "qAC F",
        "property": "qAC",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 1800,
        "wires": [
            [
                "d695bb4e.d5f8f8"
            ]
        ]
    },
    {
        "id": "14141a5d.4e0a76",
        "type": "exec",
        "z": "17a728c6.565827",
        "command": "python3 /home/pi/.node-red/Python/MCP9808/MCP9808_NR.py",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "Call MCP Py Script",
        "x": 550,
        "y": 2400,
        "wires": [
            [
                "e25e42d9.15ec5"
            ],
            [],
            []
        ]
    },
    {
        "id": "1e799d0d.060183",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 2400,
        "wires": [
            [
                "14141a5d.4e0a76"
            ]
        ]
    },
    {
        "id": "37c0732e.43a9fc",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e25e42d9.15ec5",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "Parse",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 2400,
        "wires": [
            [
                "4b41c2f3.3109dc"
            ]
        ]
    },
    {
        "id": "4b41c2f3.3109dc",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "To Fixed",
        "func": "var tempF = msg.payload;\nmsg.payload = tempF.toFixed(1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 2400,
        "wires": [
            [
                "728862a1.fa6d5c"
            ]
        ]
    },
    {
        "id": "728862a1.fa6d5c",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "Parse",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1030,
        "y": 2400,
        "wires": [
            [
                "ab85c9cf.ba4d08"
            ]
        ]
    },
    {
        "id": "f89b5cde.0c50b",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Remove payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1640,
        "wires": [
            [
                "7b6951.fb8a26b"
            ]
        ]
    },
    {
        "id": "7b769a0c.7f6584",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Remove payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1940,
        "wires": [
            [
                "62662072.fd6d4"
            ]
        ]
    },
    {
        "id": "17fc7552.fdbcab",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ae0ca8c.4029e6",
        "type": "interval-length",
        "z": "17a728c6.565827",
        "format": "human",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "",
        "x": 2120,
        "y": 1820,
        "wires": [
            [
                "d521ec8d.e3681"
            ],
            []
        ]
    },
    {
        "id": "d521ec8d.e3681",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2280,
        "y": 1820,
        "wires": [
            [
                "b07db7e0.a759a8"
            ],
            [
                "4ab986e0.1cacf8"
            ]
        ]
    },
    {
        "id": "957790d5.d81a7",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 1740,
        "wires": [
            [
                "2ae0ca8c.4029e6",
                "f8e4ff7.3bf24",
                "559971a4.bd541"
            ]
        ]
    },
    {
        "id": "b07db7e0.a759a8",
        "type": "ui_text",
        "z": "17a728c6.565827",
        "group": "f2b892c2.716fe",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Off Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2440,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4ab986e0.1cacf8",
        "type": "ui_text",
        "z": "17a728c6.565827",
        "group": "f2b892c2.716fe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "On Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2440,
        "y": 1840,
        "wires": []
    },
    {
        "id": "304f0a97.483d46",
        "type": "rbe",
        "z": "17a728c6.565827",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1670,
        "y": 1740,
        "wires": [
            [
                "957790d5.d81a7"
            ]
        ]
    },
    {
        "id": "f8e4ff7.3bf24",
        "type": "interval-length",
        "z": "17a728c6.565827",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "",
        "x": 2120,
        "y": 1920,
        "wires": [
            [
                "8955ead8.c02228"
            ],
            []
        ]
    },
    {
        "id": "8955ead8.c02228",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2280,
        "y": 1920,
        "wires": [
            [
                "61e15bca.3837c4"
            ],
            [
                "c79ff16.37b8e1"
            ]
        ]
    },
    {
        "id": "c79ff16.37b8e1",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "OnTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 1940,
        "wires": [
            [
                "3a38aeb0.064092"
            ]
        ]
    },
    {
        "id": "61e15bca.3837c4",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "OffTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 1900,
        "wires": [
            [
                "3a38aeb0.064092"
            ]
        ]
    },
    {
        "id": "3a38aeb0.064092",
        "type": "function",
        "z": "17a728c6.565827",
        "name": "",
        "func": "var OffTime = global.get('OffTime');\nvar OnTime = global.get('OnTime');\n\nvar TotalTime = (OffTime + OnTime)/1000;\n\nmsg.payload = 3600/TotalTime\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2700,
        "y": 1920,
        "wires": [
            [
                "7f761c49.e01374",
                "bc8aec41.e5aa2"
            ]
        ]
    },
    {
        "id": "7f761c49.e01374",
        "type": "ui_text",
        "z": "17a728c6.565827",
        "group": "f2b892c2.716fe",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cycles Per Hour",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "x": 2880,
        "y": 1920,
        "wires": []
    },
    {
        "id": "bc8aec41.e5aa2",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2860,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e8a92fc7.9fd3a",
        "type": "rbe",
        "z": "17a728c6.565827",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1730,
        "y": 1900,
        "wires": [
            [
                "fe08a6a5.5fde78"
            ]
        ]
    },
    {
        "id": "fe08a6a5.5fde78",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 1900,
        "wires": [
            [
                "f8e4ff7.3bf24",
                "2ae0ca8c.4029e6"
            ]
        ]
    },
    {
        "id": "559971a4.bd541",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 1760,
        "wires": []
    },
    {
        "id": "b1d6720a.5c4e3",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 920,
        "wires": [
            [
                "57262871.77a018"
            ]
        ]
    },
    {
        "id": "57262871.77a018",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Stairway light - HS200(US)",
        "device": "192.168.0.48",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "ea407c1a.c13e4"
            ]
        ]
    },
    {
        "id": "b03398ad.d72fd8",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>Stairs",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 10,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-lightbulb-o ",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-lightbulb-o ",
        "offcolor": "grey",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "57262871.77a018",
                "a724a5fb.07b3e8"
            ]
        ]
    },
    {
        "id": "ea407c1a.c13e4",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 960,
        "wires": [
            [
                "4e8d2608.8525c8"
            ]
        ]
    },
    {
        "id": "a724a5fb.07b3e8",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 1020,
        "wires": [
            [
                "b03398ad.d72fd8"
            ]
        ]
    },
    {
        "id": "4e8d2608.8525c8",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 960,
        "wires": [
            [
                "b03398ad.d72fd8"
            ]
        ]
    },
    {
        "id": "7f95eab.f7c9914",
        "type": "link in",
        "z": "d4068d94.a2c6e",
        "name": "",
        "links": [
            "76de2608.8c0168"
        ],
        "x": 335,
        "y": 1220,
        "wires": [
            [
                "186af267.ba6e3e"
            ]
        ]
    },
    {
        "id": "186af267.ba6e3e",
        "type": "kasa",
        "z": "d4068d94.a2c6e",
        "name": "Breezeway light - HS200(US)",
        "device": "192.168.0.43",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 500,
        "y": 1260,
        "wires": [
            [
                "405170db.c176a"
            ]
        ]
    },
    {
        "id": "35bb7055.1beb3",
        "type": "ui_switch",
        "z": "d4068d94.a2c6e",
        "name": "",
        "label": "<font size =5>Breeze Way",
        "tooltip": "",
        "group": "b98f2455.fa5658",
        "order": 10,
        "width": "3",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-lightbulb-o ",
        "oncolor": "yellow",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-lightbulb-o ",
        "offcolor": "grey",
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "186af267.ba6e3e",
                "ab9eb9bd.3d68e8"
            ]
        ]
    },
    {
        "id": "405170db.c176a",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "Get State",
        "rules": [
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.sysInfo.relay_state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1260,
        "wires": [
            [
                "920426f4.053088"
            ]
        ]
    },
    {
        "id": "ab9eb9bd.3d68e8",
        "type": "function",
        "z": "d4068d94.a2c6e",
        "name": "Activate On/Off",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 1320,
        "wires": [
            [
                "35bb7055.1beb3"
            ]
        ]
    },
    {
        "id": "920426f4.053088",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "State to Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sysInfo.relay_state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1260,
        "wires": [
            [
                "35bb7055.1beb3"
            ]
        ]
    },
    {
        "id": "28379556.fe9e4a",
        "type": "http in",
        "z": "8bb1d781.d12288",
        "d": true,
        "name": "",
        "url": "/motion",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "41f62ed2.3f634",
                "8568b810.ad3768",
                "dd3f1fa6.68c86"
            ]
        ]
    },
    {
        "id": "10103a4.22fa6c6",
        "type": "debug",
        "z": "8bb1d781.d12288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "41f62ed2.3f634",
        "type": "change",
        "z": "8bb1d781.d12288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Motion Detected!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "10103a4.22fa6c6"
            ]
        ]
    },
    {
        "id": "8568b810.ad3768",
        "type": "change",
        "z": "8bb1d781.d12288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dd3f1fa6.68c86",
        "type": "change",
        "z": "8bb1d781.d12288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "9b30ec86.9efb9"
            ]
        ]
    },
    {
        "id": "9b30ec86.9efb9",
        "type": "delay",
        "z": "8bb1d781.d12288",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6f01b14c.4f4f4",
        "type": "http in",
        "z": "d4068d94.a2c6e",
        "d": true,
        "name": "",
        "url": "/motion",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "fd13a769.c80308"
            ]
        ]
    },
    {
        "id": "ba69c197.8f0d7",
        "type": "nighttime",
        "z": "d4068d94.a2c6e",
        "name": "",
        "lon": "-83.9",
        "lat": "40.9",
        "start": "goldenHourEnd",
        "end": "goldenHour",
        "x": 360,
        "y": 1400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6b6ecb24.e4f6c4",
        "type": "debug",
        "z": "d4068d94.a2c6e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1240,
        "wires": []
    },
    {
        "id": "99d15a8e.f423e8",
        "type": "inject",
        "z": "d4068d94.a2c6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 1380,
        "wires": [
            [
                "1160a4d1.cd510b"
            ]
        ]
    },
    {
        "id": "1160a4d1.cd510b",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "garageLightOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "fd13a769.c80308",
        "type": "switch",
        "z": "d4068d94.a2c6e",
        "name": "Is Night?",
        "property": "isNight",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 1480,
        "wires": [
            [
                "356f5a2f.970a66"
            ]
        ]
    },
    {
        "id": "19ffed5f.403283",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Motion Detected!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1400,
        "wires": [
            [
                "5fd3eb9b.17a2a4"
            ]
        ]
    },
    {
        "id": "954b393.e6ec9c8",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "19ffed5f.403283",
                "186af267.ba6e3e",
                "9bd3e1ec.d2266",
                "57262871.77a018"
            ]
        ]
    },
    {
        "id": "c5975faa.b27b",
        "type": "change",
        "z": "d4068d94.a2c6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1480,
        "wires": [
            [
                "cbaa120f.0786b"
            ]
        ]
    },
    {
        "id": "cbaa120f.0786b",
        "type": "delay",
        "z": "d4068d94.a2c6e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 1480,
        "wires": [
            [
                "9bd3e1ec.d2266",
                "186af267.ba6e3e",
                "57262871.77a018"
            ]
        ]
    },
    {
        "id": "5fd3eb9b.17a2a4",
        "type": "ui_toast",
        "z": "d4068d94.a2c6e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1130,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "356f5a2f.970a66",
        "type": "switch",
        "z": "d4068d94.a2c6e",
        "name": "Garage Light Off",
        "property": "garageLightOn",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 1480,
        "wires": [
            [
                "c5975faa.b27b",
                "954b393.e6ec9c8"
            ]
        ]
    },
    {
        "id": "ef08b0c3.47ab7",
        "type": "ui_template",
        "z": "8bb1d781.d12288",
        "group": "4ffb5855.8f02f8",
        "name": "Basement East Stream",
        "order": 1,
        "width": "7",
        "height": "5",
        "format": "<img width=\"600\" height=\"600\" src=\"http://192.168.0.20:8083\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 160,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "aa1ef86d.74d668",
        "type": "ui_template",
        "z": "8bb1d781.d12288",
        "group": "7c68db6d.8a50b4",
        "name": "Basement West Stream",
        "order": 1,
        "width": "7",
        "height": "5",
        "format": "<img width=\"600\" height=\"400\" src=\"http://basementcamwest.seeare:8081\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "92eed8d8.a718e8",
        "type": "ui_template",
        "z": "8bb1d781.d12288",
        "group": "4fa4cd44.275294",
        "name": "Breezeway Stream",
        "order": 1,
        "width": "7",
        "height": "5",
        "format": "<img width=\"600\" height=\"600\" src=\"http://192.168.0.20:8082\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3c3d8f63.b4a34",
        "type": "mqtt in",
        "z": "17a728c6.565827",
        "name": "",
        "topic": "Home/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "76323985.87bec8",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "66a3ac4a.fa7f34"
            ]
        ]
    },
    {
        "id": "33af416b.1ed95e",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "30793758.918648",
        "type": "unit-converter",
        "z": "17a728c6.565827",
        "category": "temperature",
        "inputUnit": "C",
        "outputUnit": "F",
        "inputField": "payload",
        "outputField": "payload",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "roundOutputField": true,
        "outputFieldDecimals": "0",
        "name": "",
        "x": 740,
        "y": 240,
        "wires": [
            [
                "f3d197f8.3a7518"
            ]
        ]
    },
    {
        "id": "66a3ac4a.fa7f34",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 240,
        "wires": [
            [],
            [],
            [
                "30793758.918648"
            ]
        ]
    },
    {
        "id": "f3d197f8.3a7518",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "68",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "80",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 240,
        "wires": [
            [],
            [],
            [
                "21525d54.3951c2"
            ]
        ]
    },
    {
        "id": "1c832e2d.d23532",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "62063071.e541f"
            ]
        ]
    },
    {
        "id": "34c8f822.9bd1a8",
        "type": "sort",
        "z": "559df1d7.d3a6f",
        "name": "Sort Array",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "b0649bcd.a48d48"
            ]
        ]
    },
    {
        "id": "b0649bcd.a48d48",
        "type": "function",
        "z": "559df1d7.d3a6f",
        "name": "Select Mid",
        "func": "msg.payload = msg.payload[2]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "8be252a9.05526"
            ]
        ]
    },
    {
        "id": "f13d22eb.30c9d",
        "type": "comment",
        "z": "559df1d7.d3a6f",
        "name": "Get Sensor Data",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "af2a2bdd.383aa8",
        "type": "comment",
        "z": "559df1d7.d3a6f",
        "name": "Convert to integer",
        "info": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "9055979c.f50d78",
        "type": "comment",
        "z": "559df1d7.d3a6f",
        "name": "Median Filter",
        "info": "Median Filter for Ultrasonic sensor due to the characteristics of the device.\n\nPurge outlying values by creating a buffter of 5 values and then sort by ascending order.\n\nOutstanding values will always be at the top or bottom of the array. Select the middle value of the array to increase filter the data.",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "def1ab1f.dd21b8",
        "type": "rpi-srf",
        "z": "559df1d7.d3a6f",
        "name": "",
        "topic": "SRF",
        "pulse": "0.1",
        "pins": "36,38",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "1c832e2d.d23532"
            ]
        ]
    },
    {
        "id": "62063071.e541f",
        "type": "ring-buffer",
        "z": "559df1d7.d3a6f",
        "name": "",
        "capacity": "5",
        "order": "old-to-new",
        "sendOnlyIfFull": false,
        "pushAfterClear": false,
        "extra": false,
        "perTopic": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "34c8f822.9bd1a8"
            ]
        ]
    },
    {
        "id": "fb265512.fb83b8",
        "type": "mqtt out",
        "z": "17a728c6.565827",
        "name": "",
        "topic": "Home/Livingroom/Temperature",
        "qos": "",
        "retain": "",
        "broker": "76323985.87bec8",
        "x": 1450,
        "y": 2440,
        "wires": []
    },
    {
        "id": "85759619.93f1f8",
        "type": "ui_template",
        "z": "8bb1d781.d12288",
        "group": "25c1888c.8b6c08",
        "name": "Garage Stream",
        "order": 1,
        "width": "7",
        "height": "5",
        "format": "<img width=\"600\" height=\"600\" src=\"http://192.168.0.20:8084\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 460,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a536fbd8.c9fa58",
        "type": "exec",
        "z": "559df1d7.d3a6f",
        "command": "sudo sh -c 'echo \"1\" > /sys/class/backlight/rpi_backlight/bl_power'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Turn Screen Off",
        "x": 880,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e6115893.986938",
        "type": "exec",
        "z": "559df1d7.d3a6f",
        "command": "sudo sh -c 'echo \"0\" > /sys/class/backlight/rpi_backlight/bl_power'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Turn Screen On",
        "x": 880,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "69429ed9.2a818",
        "type": "inject",
        "z": "559df1d7.d3a6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "a6ae8be9.05acf8"
            ]
        ]
    },
    {
        "id": "f1e89d03.04569",
        "type": "inject",
        "z": "559df1d7.d3a6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "729077b9.641878"
            ]
        ]
    },
    {
        "id": "eb27b45b.3c4bc8",
        "type": "delay",
        "z": "559df1d7.d3a6f",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 560,
        "wires": [
            [
                "a6ae8be9.05acf8"
            ]
        ]
    },
    {
        "id": "a6ae8be9.05acf8",
        "type": "switch",
        "z": "559df1d7.d3a6f",
        "name": "IF On",
        "property": "ScreenOn",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 640,
        "wires": [
            [
                "a536fbd8.c9fa58",
                "89b1b562.863558"
            ]
        ]
    },
    {
        "id": "6b96a6b2.a08a28",
        "type": "inject",
        "z": "559df1d7.d3a6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "b1e9462d.b10278",
                "530dd092.1d53a"
            ]
        ]
    },
    {
        "id": "b1e9462d.b10278",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScreenOn",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "729077b9.641878",
        "type": "switch",
        "z": "559df1d7.d3a6f",
        "name": "IF Off",
        "property": "ScreenOn",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "e6115893.986938",
                "b0756522.9684c8",
                "eb27b45b.3c4bc8"
            ]
        ]
    },
    {
        "id": "89b1b562.863558",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScreenOn",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 700,
        "wires": [
            [
                "b1865325.ea979"
            ]
        ]
    },
    {
        "id": "b0756522.9684c8",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScreenOn",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "530dd092.1d53a",
        "type": "link out",
        "z": "559df1d7.d3a6f",
        "name": "Screen On At Boot",
        "links": [
            "5a8d2c2e.d92424"
        ],
        "x": 235,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a8d2c2e.d92424",
        "type": "link in",
        "z": "559df1d7.d3a6f",
        "name": "",
        "links": [
            "530dd092.1d53a",
            "7a541f78.2e02d"
        ],
        "x": 95,
        "y": 420,
        "wires": [
            [
                "729077b9.641878",
                "a3ed3e82.8206e",
                "a1bd6c17.5fc68"
            ]
        ]
    },
    {
        "id": "7a541f78.2e02d",
        "type": "link out",
        "z": "559df1d7.d3a6f",
        "name": "",
        "links": [
            "5a8d2c2e.d92424"
        ],
        "x": 1575,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1bd6c17.5fc68",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "eb27b45b.3c4bc8"
            ]
        ]
    },
    {
        "id": "e57cb2ae.287ad",
        "type": "inject",
        "z": "559df1d7.d3a6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "7a541f78.2e02d"
            ]
        ]
    },
    {
        "id": "a3ed3e82.8206e",
        "type": "delay",
        "z": "559df1d7.d3a6f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 520,
        "wires": [
            [
                "a2cce988.715758"
            ]
        ]
    },
    {
        "id": "a2cce988.715758",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "eb27b45b.3c4bc8"
            ]
        ]
    },
    {
        "id": "8be252a9.05526",
        "type": "switch",
        "z": "559df1d7.d3a6f",
        "name": ">2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "684c1161.0107d"
            ]
        ]
    },
    {
        "id": "684c1161.0107d",
        "type": "switch",
        "z": "559df1d7.d3a6f",
        "name": "<200",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "f94da004.ce51e"
            ]
        ]
    },
    {
        "id": "8d066b80.9393c8",
        "type": "exec",
        "z": "2089cd.9333b634",
        "command": "sudo apt update",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "61feb7d7.2520d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "81d4653a.3c3df8",
        "type": "exec",
        "z": "2089cd.9333b634",
        "command": "sudo apt -y upgrade",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 920,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5472b6e2.5e6918",
        "type": "cronplus",
        "z": "2089cd.9333b634",
        "name": "",
        "outputField": "payload",
        "timeZone": "America/Detroit",
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "topic": "Updates",
                "payload": "true",
                "expression": "0 0 4 * * *",
                "name": "Updates",
                "expressionType": "cron",
                "payloadType": "bool",
                "solarType": "all",
                "solarEvents": "sunrise,sunset",
                "location": ""
            }
        ],
        "x": 120,
        "y": 160,
        "wires": [
            [
                "8d066b80.9393c8"
            ]
        ]
    },
    {
        "id": "61feb7d7.2520d8",
        "type": "switch",
        "z": "2089cd.9333b634",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "All packages are up to date.",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 160,
        "wires": [
            [],
            [
                "81d4653a.3c3df8"
            ]
        ]
    },
    {
        "id": "f94da004.ce51e",
        "type": "counter",
        "z": "559df1d7.d3a6f",
        "inc": 1,
        "name": "",
        "x": 1280,
        "y": 180,
        "wires": [
            [
                "7b11795b.13cef8"
            ]
        ]
    },
    {
        "id": "7b11795b.13cef8",
        "type": "switch",
        "z": "559df1d7.d3a6f",
        "name": "Count > 2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1420,
        "y": 180,
        "wires": [
            [
                "7a541f78.2e02d"
            ]
        ]
    },
    {
        "id": "b1865325.ea979",
        "type": "change",
        "z": "559df1d7.d3a6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 700,
        "wires": [
            [
                "f94da004.ce51e"
            ]
        ]
    },
    {
        "id": "b7173262.61628",
        "type": "ui_template",
        "z": "8bb1d781.d12288",
        "group": "25c1888c.8b6c08",
        "name": "Garage 2 Stream",
        "order": 1,
        "width": "7",
        "height": "5",
        "format": "<img width=\"600\" height=\"600\" src=\"http://192.168.0.20:8085\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1e7a6241.6157ce",
        "type": "change",
        "z": "62ba2bde.f2d8e4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ssid=([\"'])(?:(?=(\\\\?))\\2.)*?\\1",
                "fromt": "re",
                "to": "ssid=\"foobar\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8d776159.b0afe",
        "type": "change",
        "z": "62ba2bde.f2d8e4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "psk=([\"'])(?:(?=(\\\\?))\\2.)*?\\1",
                "fromt": "re",
                "to": "password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b973810a.e5c0f",
        "type": "debug",
        "z": "62ba2bde.f2d8e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "e26fbcc4.5a681",
        "type": "ui_text_input",
        "z": "62ba2bde.f2d8e4",
        "name": "",
        "label": "Network Name",
        "tooltip": "",
        "group": "6a4d510d.5de65",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "b973810a.e5c0f"
            ]
        ]
    },
    {
        "id": "3951049.3fad1fc",
        "type": "ui_text_input",
        "z": "62ba2bde.f2d8e4",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "6a4d510d.5de65",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "b973810a.e5c0f"
            ]
        ]
    },
    {
        "id": "c5db1e72.3ef58",
        "type": "ui_template",
        "z": "62ba2bde.f2d8e4",
        "group": "6a4d510d.5de65",
        "name": "Virtual Keyboard",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script> \n    \n// the semi-colon before function invocation is a safety net against concatenated\n// scripts and/or other plugins which may not be closed properly.\n; (function ($, window, document, undefined) {\n\n    // undefined is used here as the undefined global variable in ECMAScript 3 is\n    // mutable (ie. it can be changed by someone else). undefined isn't really being\n    // passed in so we can ensure the value of it is truly undefined. In ES5, undefined\n    // can no longer be modified.\n\n    // window and document are passed through as local variable rather than global\n    // as this (slightly) quickens the resolution process and can be more efficiently\n    // minified (especially when both are regularly referenced in your plugin).\n\n    // Create the defaults once\n    var pluginName = \"jkeyboard\",\n        defaults = {\n            layout: \"english\",\n            input: $('#input'),\n            customLayouts: {\n                selectable: []\n            },\n        };\n\n\n    var function_keys = {\n        backspace: {\n            text: 'DEL',\n        },\n        return: {\n            text: 'Enter'\n        },\n        shift: {\n            text: 'Shift'\n        },\n        space: {\n            text: 'Space'\n        },\n        numeric_switch: {\n            text: '123',\n            command: function () {\n                this.createKeyboard('numeric');\n                this.events();\n            }\n        },\n        layout_switch: {\n            text: '<i class=\"fa fa-keyboard-o\" aria-hidden=\"true\"></i>',\n            command: function () {\n                var l = this.toggleLayout();\n                this.createKeyboard(l);\n                this.events();\n            }\n        },\n        character_switch: {\n            text: 'ABC',\n            command: function () {\n                this.createKeyboard(layout);\n                this.events();\n            }\n        },\n        symbol_switch: {\n            text: '#+=',\n            command: function () {\n                this.createKeyboard('symbolic');\n                this.events();\n            }\n        }\n    };\n\n\n    var layouts = {\n        selectable: ['azeri', 'english', 'russian','french', 'emoji'],\n        azeri: [\n            ['q', '', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', '', ''],\n            ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', '', ''],\n            ['shift', 'z', 'x', 'c', 'v', 'b', 'n', 'm', '', '', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        english: [\n            ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p',],\n            ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l',],\n            ['shift', 'z', 'x', 'c', 'v', 'b', 'n', 'm', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        russian: [\n            ['', '', '', '', '', '', '', '', '', '', ''],\n            ['', '', '', '', '', '', '', '', '', '', ''],\n            ['shift', '', '', '', '', '', '', '', '', '', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        french: [\n            ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p',],\n            ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l','',''],\n            ['shift', 'z', 'x', 'c', 'v', 'b', 'n', 'm','','', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        emoji: [\n            ['', '', '', '', '', '', '', '', '', '',],\n            ['', '', '', '', 'g', 'h', 'j', 'k', 'l','',''],\n            ['shift', 'z', 'x', 'c', 'v', 'b', 'n', 'm','','', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],            \n        numeric: [\n            ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'],\n            ['-', '/', ':', ';', '(', ')', '$', '&', '@', '\"'],\n            ['symbol_switch', '.', ',', '?', '!', \"'\", 'backspace'],\n            ['character_switch', 'layout_switch', 'space', 'return'],\n        ],\n        numbers_only: [\n            ['1', '2', '3',],\n            ['4', '5', '6',],\n            ['7', '8', '9',],\n            ['0', 'backspace'],\n        ],\n        symbolic: [\n            ['[', ']', '{', '}', '#', '%', '^', '*', '+', '='],\n            ['_', '\\\\', '|', '~', '<', '>'],\n            ['numeric_switch', '.', ',', '?', '!', \"'\", 'backspace'],\n            ['character_switch', 'layout_switch', 'space', 'return'],\n\n        ]\n    }\n\n    var shift = false, capslock = false, layout = 'english', layout_id = 0;\n\n    // The actual plugin constructor\n    function Plugin(element, options) {\n        this.element = element;\n        // jQuery has an extend method which merges the contents of two or\n        // more objects, storing the result in the first object. The first object\n        // is generally empty as we don't want to alter the default options for\n        // future instances of the plugin\n        this.settings = $.extend({}, defaults, options);\n        // Extend & Merge the cusom layouts\n        layouts = $.extend(true, {}, this.settings.customLayouts, layouts);\n        if (Array.isArray(this.settings.customLayouts.selectable)) {\n            $.merge(layouts.selectable, this.settings.customLayouts.selectable);\n        }\n        this._defaults = defaults;\n        this._name = pluginName;\n        this.init();\n    }\n\n    Plugin.prototype = {\n        init: function () {\n            layout = this.settings.layout;\n            this.createKeyboard(layout);\n            this.events();\n        },\n\n        setInput: function (newInputField) {\n            this.settings.input = newInputField;\n        },\n\n        createKeyboard: function (layout) {\n            shift = false;\n            capslock = false;\n\n            var keyboard_container = $('<ul/>').addClass('jkeyboard'),\n                me = this;\n\n            layouts[layout].forEach(function (line, index) {\n                var line_container = $('<li/>').addClass('jline');\n                line_container.append(me.createLine(line));\n                keyboard_container.append(line_container);\n            });\n\n            $(this.element).html('').append(keyboard_container);\n        },\n\n        createLine: function (line) {\n            var line_container = $('<ul/>');\n\n            line.forEach(function (key, index) {\n                var key_container = $('<li/>').addClass('jkey').data('command', key);\n\n                if (function_keys[key]) {\n                    key_container.addClass(key).html(function_keys[key].text);\n                }\n                else {\n                    key_container.addClass('letter').html(key);\n                }\n\n                line_container.append(key_container);\n            })\n\n            return line_container;\n        },\n\n        events: function () {\n            var letters = $(this.element).find('.letter'),\n                shift_key = $(this.element).find('.shift'),\n                space_key = $(this.element).find('.space'),\n                backspace_key = $(this.element).find('.backspace'),\n                return_key = $(this.element).find('.return'),\n\n                me = this,\n                fkeys = Object.keys(function_keys).map(function (k) {\n                    return '.' + k;\n                }).join(',');\n\n            letters.on('click', function () {\n                me.type((shift || capslock) ? $(this).text().toUpperCase() : $(this).text());\n            });\n\n            space_key.on('click', function () {\n                me.type(' ');\n            });\n\n            return_key.on('click', function () {\n                me.type(\"\\n\");\n                me.settings.input.parents('form').submit();\n            });\n\n            backspace_key.on('click', function () {\n                me.backspace();\n            });\n\n            shift_key.on('click', function () {\n                if (capslock) {\n                    me.toggleShiftOff();\n                    capslock = false;\n                } else {\n                    me.toggleShiftOn();\n                }\n            }).on('dblclick', function () {\n                capslock = true;\n            });\n\n\n            $(fkeys).on('click', function () {\n                var command = function_keys[$(this).data('command')].command;\n                if (!command) return;\n\n                command.call(me);\n            });\n        },\n\n        type: function (key) {\n            var input = this.settings.input,\n                val = input.val(),\n                input_node = input.get(0),\n                start = input_node.selectionStart,\n                end = input_node.selectionEnd;\n\n            var max_length = $(input).attr(\"maxlength\");\n            if (start == end && end == val.length) {\n                if (!max_length || val.length < max_length) {\n                    input.val(val + key);\n                    input.change()\n                    $('#vkeyname').text(val + key)\n                }\n            } else {\n                if (input_node.type == \"text\"){\n                    var new_string = this.insertToString(start, end, val, key);\n                    input.val(new_string);\n                    start++;\n                    end = start;\n                    input_node.setSelectionRange(start, end);\n                }else{\n                    input.val(val + key);\n                }\n                input.change()\n                $('#vkeyname').text(val + key)\n                \n            }\n            input.trigger('focus');\n\n            if (shift && !capslock) {\n                this.toggleShiftOff();\n            }\n        },\n\n        backspace: function () {\n            var input = this.settings.input,\n                val = input.val();\n                input_node = input.get(0),\n                start = input_node.selectionStart,\n                end = input_node.selectionEnd;\n            if (input.type == \"text\"){\n                input.val(val.slice(0, start-1) + val.slice(start))\n                input_node.setSelectionRange(start-1, start-1);\n                console.log(val)\n                $('#vkeyname').text(val)\n            }else{\n                input.val(val.slice(0,-1))\n                $('#vkeyname').text(val.slice(0,-1))\n            }\n            input.change()\n            input.focus()\n        },\n\n        toggleShiftOn: function () {\n            var letters = $(this.element).find('.letter'),\n                shift_key = $(this.element).find('.shift');\n\n            letters.addClass('uppercase');\n            shift_key.addClass('active')\n            shift = true;\n        },\n\n        toggleShiftOff: function () {\n            var letters = $(this.element).find('.letter'),\n                shift_key = $(this.element).find('.shift');\n\n            letters.removeClass('uppercase');\n            shift_key.removeClass('active');\n            shift = false;\n        },\n\n        toggleLayout: function () {\n            layout_id = layout_id || 0;\n            var plain_layouts = layouts.selectable;\n            layout_id++;\n\n            var current_id = layout_id % plain_layouts.length;\n            var SelectedLayoutName = plain_layouts[current_id];\n            $('#vkeyname').text('V-Keyboard ' + SelectedLayoutName )\n            return plain_layouts[current_id];\n        },\n\n        insertToString: function (start, end, string, insert_string) {\n            return string.substring(0, start) + insert_string + string.substring(end, string.length);\n        }\n    };\n\n        /*\n\t\t// A really lightweight plugin wrapper around the constructor,\n\t\t// preventing against multiple instantiations\n\t\t$.fn[ pluginName ] = function ( options ) {\n\t\t\t\treturn this.each(function() {\n\t\t\t\t\t\tif ( !$.data( this, \"plugin_\" + pluginName ) ) {\n\t\t\t\t\t\t\t\t$.data( this, \"plugin_\" + pluginName, new Plugin( this, options ) );\n\t\t\t\t\t\t}\n\t\t\t\t});\n\t\t};\n        */\n        var methods = {\n            init: function(options) {\n                if (!this.data(\"plugin_\" + pluginName)) {\n                    this.data(\"plugin_\" + pluginName, new Plugin(this, options));\n                }\n            },\n\t\t\tsetInput: function(content) {\n\t\t\t\tthis.data(\"plugin_\" + pluginName).setInput($(content));\n            },\n            setLayout: function(layoutname) {\n                // change layout if it is not match current\n                object = this.data(\"plugin_\" + pluginName);\n                if (typeof(layouts[layoutname]) !== 'undefined' && object.settings.layout != layoutname) {\n                    object.settings.layout = layoutname;\n                    object.createKeyboard(layoutname);\n                    object.events();\n                };\n            },\n        };\n\n\t\t$.fn[pluginName] = function (methodOrOptions) {\n            if (methods[methodOrOptions]) {\n                return methods[methodOrOptions].apply(this.first(), Array.prototype.slice.call( arguments, 1));\n            } else if (typeof methodOrOptions === 'object' || ! methodOrOptions) {\n                // Default to \"init\"\n                return methods.init.apply(this.first(), arguments);\n            } else {\n                $.error('Method ' +  methodOrOptions + ' does not exist on jQuery.tooltip');\n            }\n        };\n\n})(jQuery, window, document);\n</script>\n<style>\n    .jkeyboard {\n  display: inline-block;\n}\n.jkeyboard, .jkeyboard .jline, .jkeyboard .jline ul {\n  display: block;\n  margin: 0;\n  padding: 0;\n}\n.jkeyboard .jline {\n  text-align: center;\n  margin-left: -14px;\n}\n.jkeyboard .jline ul li {\n  font-family: arial, sans-serif;\n  font-size: 20px;\n  display: inline-block;\n  border: 1px solid #468db3;\n  -webkit-box-shadow: 0 0 3px #468db3;\n  -webkit-box-shadow: inset 0 0 3px #468db3;\n  margin: 5px 0 1px 6px;\n  color: #000000;\n  border-radius: 5px;\n  width: 52px;\n  height: 52px;\n  box-sizing: border-box;\n  text-align: center;\n  line-height: 52px;\n  overflow: hidden;\n  cursor: pointer;\n  -webkit-touch-callout: none;\n  -webkit-user-select: none;\n  -khtml-user-select: none;\n  -moz-user-select: -moz-none;\n  -ms-user-select: none;\n  user-select: none;\n}\n.jkeyboard .jline ul li.uppercase {\n  text-transform: uppercase;\n}\n.jkeyboard .jline ul li:hover, .jkeyboard .jline ul li:active {\n  background-color: #185a82;\n}\n.jkeyboard .jline .return {\n  width: 80px;\n}\n.jkeyboard .jline .space {\n  width: 366px;\n}\n.jkeyboard .jline .numeric_switch {\n  width: 65px;\n}\n.jkeyboard .jline .layout_switch {\n}\n.jkeyboard .jline .shift {\n  width: 60px;\n}\n.jkeyboard .jline .backspace {\n  width: 69px;\n}\n</style>\n\n\n\n\n<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\n.nr-dashboard-theme .nr-dashboard-template .md-button:not(:first-of-type) {\n    margin-top: 0px;\n}\n\n/* The Modal (background) */\n.modal {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    opacity:0.99;\n    z-index: 100; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n}\n\n/* Modal Content */\n.modal-content {\n    position: fixed;\n    background-color: #fefefe;\n    margin: auto;\n    padding: 0;\n    bottom: 0%;\n    left: 50%;\n    transform: translate(-50%, 0%);\n    border: 1px solid #888;\n    width: fit-content;\n    max-width: 100%;\n    max-height: 100%;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animate;\n    -webkit-animation-duration: 0.4s;\n    animation-name: animate;\n    animation-duration: 0.4s\n}\n\n/* Add Animation */\n@-webkit-keyframes animate {\n    from {bottom:100%; opacity:0} \n    to {bottom:0%; opacity:1}\n}\n\n@keyframes animate {\n    from {bottom:100%; opacity:0}\n    to {bottom:0%; opacity:1}\n}\n\n/* The Close Button */\n.close {\n    color: black;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n    color: #000;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n.modal-header {\n    padding: 2px 16px;\n    background-color: aliceblue;\n    color: white;\n}\n\n.modal-body {padding: 2px 16px;}\n\n.modal-footer {\n    padding: 2px 16px;\n    background-color: #5cb85c;\n    color: white;\n}\n</style>\n\n<!-- The Modal -->\n<div id=\"myModal\" class=\"modal\">\n\n  <!-- Modal content -->\n  <div class=\"modal-content\">\n      <div class=\"modal-header\">\n      <span class=\"close\" onclick=\"closeModal()\">&times;</span>\n      <h2 id=\"vkeyname\" style=\"background-color: aliceblue !important; color: black !important; text-align: center; min-height: 30px;\">V-Keyboard</h2>\n    </div>\n    <div class=\"modal-body\">\n        <div id=\"keyboard\"></div>\n        <div>\n        </div>\n    </div>\n  </div>\n</div>\n\n\n<script>\n    // Get the modal\nvar modal = document.getElementById('myModal');\n\n/*\n$('input[type=text]').click(function () {\n    $('#keyboard').unbind().removeData();\n        $('#keyboard').jkeyboard({\n            layout: \"english\",\n            input: $('#'+$(this).attr('id'))\n    });\n});\n\n$('input[type=number]').click(function () {\n    $('#keyboard').unbind().removeData();\n        $('#keyboard').jkeyboard({\n            layout: \"numbers_only\",\n            input: $('#'+$(this).attr('id'))\n    });\n});\n*/\n\nvar inputTags;\nvar inputType;\n\nvar getinputs = function() {\n    inputTags = document.getElementsByTagName(\"input\");\n    console.log(inputTags)\n    for (var i = 0; i < inputTags.length; i++) {\n        inputTags[i].addEventListener('click', openModal, false)\n    }\n}\n\nsetTimeout(function(){ getinputs(); }, 1000);\n\nvar inputTarget;\n\nvar openModal = function() {\n    inputType = event.target.type\n    inputTarget = event.target\n    var layoutName;\n    if (inputType == \"number\"){\n        //inputTarget.type = \"number\" //hack because chrome doesn't allow setselection in number inputs\n        //inputTarget.value = \"\"\n        layoutName = \"numbers_only\"\n    }else{\n        layoutName = \"english\"\n    }\n    $('#vkeyname').text(event.target.value)\n    $('#keyboard').unbind().removeData();\n    modal.style.display = \"block\";\n    $('#keyboard').jkeyboard({\n        layout: layoutName,\n        input: $('#'+$(this).attr('id'))\n    });\n}\n\n\n// Get the <span> element that closes the modal\nvar span = document.getElementsByClassName(\"close\")[0];\n\n// When the user clicks on <span> (x), close the modal\n//span.onclick = function(event) {\n  //closeModal()\n//}\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    var source = event.target;\n    if (source == modal || source == span) {\n        closeModal(source)\n    }\n};\n\nvar closeModal = function(source){\n    //console.log(\"closing\")\n    modal.style.display = \"none\";\n   \n    if (inputType == \"number\"){\n        inputTarget.type = \"number\" //hack because chrome doesn't allow selectionstart on number inputs\n    }\n}\n\n</script>\n<script>\n\nvar clickState = 1;\nvar btn = document.querySelector('.VK');\n\nbtn.addEventListener('click', function(){\n\n  if (clickState == 0) {\n    this.textContent = 'V-KeyBoard On';\n    modal = document.getElementById('myModal');\n    clickState = 1;\n  } else {\n    this.textContent = 'V-KeyBoard Off';\n    modal = document.getElementById('empty');\n    clickState = 0;\n  }\n\n});\n</script>\n\n<style>\n.VK{\n    position: fixed;\n    top: 60px;\n    right: 20px;\n    height: 30px;\n}\n</style>\n\n<!-- Delete below two lines to remove button -->\n\n<!-- <div id=\"empty\"></div>\n<button class=\"VK\">V-KeyBoard On</button> -->",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 480,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b0082414.a70db8",
        "type": "exec",
        "z": "2089cd.9333b634",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "33a60482.e4ea9c",
        "type": "inject",
        "z": "2089cd.9333b634",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 720,
        "wires": [
            [
                "b0082414.a70db8"
            ]
        ]
    },
    {
        "id": "d1a0e9b4.5bd028",
        "type": "ui_button",
        "z": "62ba2bde.f2d8e4",
        "name": "",
        "group": "6a4d510d.5de65",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SUBMIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 460,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1fdbed8e.b28012",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "10b9f727.b14099",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "OutsideTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9e3fe247.18737",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "10b9f727.b14099"
            ]
        ]
    },
    {
        "id": "5f146b9.0954394",
        "type": "debug",
        "z": "17a728c6.565827",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 2280,
        "wires": []
    },
    {
        "id": "734c8266.a822bc",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "8",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 750,
        "y": 2620,
        "wires": [
            [
                "3685356a.4ddbca"
            ]
        ]
    },
    {
        "id": "3685356a.4ddbca",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Outside",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OutsideTemp",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 2620,
        "wires": [
            [
                "282ff62b.38cfda"
            ]
        ]
    },
    {
        "id": "468f435c.80a1dc",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1350,
        "y": 2280,
        "wires": [
            [
                "3eee3d3a.179fe2"
            ]
        ]
    },
    {
        "id": "3eee3d3a.179fe2",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "InsideTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "40198d21.8b9c54",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "8",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 750,
        "y": 2680,
        "wires": [
            [
                "f9a266ce.926e48"
            ]
        ]
    },
    {
        "id": "f9a266ce.926e48",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "Inside",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "InsideTemp",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Inside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 2680,
        "wires": [
            [
                "282ff62b.38cfda"
            ]
        ]
    },
    {
        "id": "6d7410c.9204ef",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "acTimerRunning",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1900,
        "wires": [
            [
                "5dea00c5.72eb3",
                "fc878b19.611c18",
                "90de10d4.aa51f",
                "9581f9ad.5128d8"
            ]
        ]
    },
    {
        "id": "75719cff.d644f4",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "acTimerRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 1900,
        "wires": [
            [
                "6d7410c.9204ef"
            ]
        ]
    },
    {
        "id": "e5942be6.1aef48",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "12",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 790,
        "y": 1980,
        "wires": [
            [
                "99f8039d.0deae"
            ]
        ]
    },
    {
        "id": "60fb46da.59b8a8",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1980,
        "wires": [
            [
                "5dea00c5.72eb3",
                "fc878b19.611c18",
                "90de10d4.aa51f",
                "64cf7fcb.db538"
            ]
        ]
    },
    {
        "id": "afd18cca.245b6",
        "type": "inject",
        "z": "17a728c6.565827",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 2100,
        "wires": [
            [
                "60fb46da.59b8a8"
            ]
        ]
    },
    {
        "id": "9581f9ad.5128d8",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "acTimerRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 1980,
        "wires": [
            [
                "e5942be6.1aef48"
            ]
        ]
    },
    {
        "id": "99f8039d.0deae",
        "type": "switch",
        "z": "17a728c6.565827",
        "name": "",
        "property": "acEnable",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 1980,
        "wires": [
            [
                "60fb46da.59b8a8"
            ]
        ]
    },
    {
        "id": "a5b9f6f.38b1608",
        "type": "change",
        "z": "17a728c6.565827",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acTimerRunning",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "64cf7fcb.db538",
        "type": "delay",
        "z": "17a728c6.565827",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 910,
        "y": 1920,
        "wires": [
            [
                "6d7410c.9204ef"
            ]
        ]
    }
]